' Hi, #{@user.username}!
= "\r\n"
= "=" * (5 + @user.username.length)
= "\r\n" * 2
' You have requested to reset your password.
= "\r\n" * 2
' To choose a new password, please visit this link:
= "\r\n" + @url
