#container
  min-height: 100%
  position: relative

#header
  border-bottom: 1px solid darken($white, 20%)

#notifications
  position: absolute
  left: 50%
  top: 50px
  z-index: 1
  transform: translate(-50%, 0)

#content
  padding: 20px 40px 100px

#footer
  border-top: 1px solid darken($white, 20%)
  background-color: $white
  position: absolute
  width: 100%
  bottom: 0
  left: 0
  *
    background-color: $white
  p
    margin: 5px 5px
    padding: 4px 0

ul.menu
  list-style-type: none
  margin: 0
  padding: 0
  overflow: hidden
  background-color: $white
  box-sizing: content-box
  li
    height: 25px
    float: left
    p, em, strong
      vertical-align: middle
      line-height: 25px
      height: 100%
      width: 100%
      margin: 0
      padding: 0
      // I hate CSS so much
      background-color: $white
      color: $dark-blue
  li.logo
    padding: 0
    a:hover
      background-color: $white
  li.right
    float: right
    text-align: center
  li, a
    background-color: $white
    display: block
    color: $dark-blue
    text-align: center
    padding: 5px 6px
    text-decoration: none
  li a:hover
    background-color: lighten($grey, 20%)
    // color: $white
  .right
    float: right
