// Place all the styles related to the landing_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SASS) here: http://sass-lang.com/
h1, p, ol, li, body, a
  color: #fff
  background-color: #000

div.matrixify *
  color: #20FF0E

.display-case
  font-family: "Lucida Console", Monaco, monospace
  position: absolute
  left: 50%
  top: 50%
  transform: translate(-50%, -50%)

.center
  text-align: center

.finished
  opacity: 0.5
  text-decoration: line-through

.faded
  opacity: 0.5

.clean
  text-decoration: none

.strikethrough
  text-decoration: line-through

.blink
  animation-duration: 0.7s
  animation-iteration-count: infinite
  animation-name: blink

.strobe
  animation-duration: 0.2s
  animation-iteration-count: infinite
  animation-name: blink

@keyframes blink
  0%
    opacity: 1

  5%
    opacity: 0.95

  10%
    opacity: 0.9

  15%
    opacity: 0.85

  20%
    opacity: 0.8

  25%
    opacity: 0.75

  30%
    opacity: 0.7

  35%
    opacity: 0.65

  40%
    opacity: 0.6

  45%
    opacity: 0.55

  50%
    opacity: 0.5

  55%
    opacity: 0.45

  60%
    opacity: 0.4

  65%
    opacity: 0.35

  70%
    opacity: 0.3

  75%
    opacity: 0.25

  80%
    opacity: 0.2

  85%
    opacity: 0.15

  90%
    opacity: 0.1

  95%
    opacity: 0.05

  100%
    opacity: 0